body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;

}
body a{
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  color: white;
  font-size: 15px;
}

.subtitulo {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 500px;
}

.main {
  margin-left: 300px;
  margin-right: 300px;
}

/* Filas */
.fila {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

/* Cajas Webs */
.cajita {
  border: solid 1px #808080;
  border-radius: 5px;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cajita img{
    margin-top: 20px;
    height: 90%;
    width: 90%;
    border: solid 2px grey;
    border-radius: 7px;
}


