body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #A62405;
}

.main{
    display: flex;
    flex-direction: row;
}

.izq{
    width: 50%;
    height: 100%;
}

.izq img{
    width: 618.33px;
    height: 795.5px;
    position: absolute;
    bottom: 0;
    left: 0;

}
.derecha{
    position: absolute;
    left: 50%;
    bottom: 8%;
    color: white;
}
.derecha h1{
    color: white;
    font-size:80px;
}

button{
    width: 250px;
    height: 80px;
    border-radius: 30px;
    background-color: #E5B94B;
    border: 0px;
}